* {
    margin: 0px;
}

html {
    font-size: 55%;
}

body {
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "cabecalho cabecalho cabecalho"
    "main main main"
    "footer footer footer";
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cabecalho {
    grid-area: cabecalho;
    display: grid;
    grid-template-areas: 
    "header"
    "nav";
}

header {
    grid-area: header;
    text-align: left;
    font-size: 2.4rem;
    background-color: #2C3E50;
    color: #FFFFFF;
    padding: 1.2rem;
    text-align: center;
}

nav a {
    color: #ECF0F1;
    text-decoration: none;
}

nav a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

nav {
    font-size: 1.4rem;
    grid-area: nav;
    display: flex;
    justify-content: center;
    background-color: #34495E;
}

nav h2 {
    padding: 1.8rem 4rem;
}

.navegacao:hover {
    background-color: #3E5A73;
}

main {
    grid-area: main;
    background-color: #ECF0F1;
}

main a {
    color: #2980B9;
    text-decoration: none;
    font-size: 4rem;
}

main p {
    font-size: 2.4rem;
}

main p, main h2 {
    padding: 2rem;
}

.pagina-principal{
    display: grid;
    grid-template-areas: 
    "fotoprincipal conteudo";
    grid-area: main;
    background-color: #ECF0F1;
}

.imagem-principal {
    grid-area: fotoprincipal;
    width: 590px;
    margin: 2.4rem 4rem;
    border-radius: 5rem;
}

.conteudo {
    grid-area: conteudo;
    margin: 5rem 3rem;
}

.seçao-pagina {
    border: 0.3rem solid;
    border-color: #BDC3C7;
    border-radius: 1rem;
    padding: 1.2rem;
    margin-bottom: 3rem;
}

.seçao-pagina h3 {
    font-size: 3.6rem;
    padding: 0.8rem;
}

.seçao-pagina p {
    font-size: 1.6rem;
    padding: 0.8rem;
}

footer {
    grid-area: footer;
    background-color: #2C3E50;
    font-size: 1.8rem;
    color: #ECF0F1;
    text-align: center;
}

footer p {
    padding: 1.2rem;
}

footer a {
    color: #BDC3C7;
    text-decoration: none;
}

footer a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.projetos {
    display: grid;
    grid-template-areas: 
    "imagem texto";
    margin: 5rem 4rem;
    text-align: center;
    align-items: center;
    border: #95A5A6 solid 0.4rem;
    border-radius: 15px;
    padding: 3rem;
}

.imagens-projetos {
    grid-area: imagem;
    width: 78rem;
    border-radius: 12px;
}

.texto-projeto {
    grid-area: texto;
    font-size: 1rem;
}